@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.container{
	max-width: 986px;
  	margin-left: 20px; 
}

.button{
	border: solid 1px #d3d3d3;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.productsTable{
	width: 100%;
}

.product {
  display: inline-block;
}

.productImage {
  width: 200px;
  display: block;
}

.heading {
  font-size: 32px;
  font-weight: bold;
}
