@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.container{
	max-width: 986px;
  	margin-left: 20px; 
}

.button{
	border: solid 1px #d3d3d3;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.productsTable{
	width: 100%;
}

.productsTable th{
	text-align: left;
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
}

.product {
  display: inline-block;
  border: solid 1px #d3d3d3;
  margin: 0 5px 0 5px; 
  text-align: center;
  cursor: pointer;
}

.productImage {
  width: 200px;
  height: 150px;
  display: block;
  padding: 5px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
}
